:root {
    --h: 205;
    --s: 90%;
    --l: 85%;
    --sep: 120;
    --primary-60: hsl(var(--h),var(--s),var(--l));
    --primary-30: hsl(var(--h),calc(var(--s) * 0.5),calc(var(--l) * 0.5));
    --accent: hsl(calc(var(--h) - var(--sep)), var(--s), var(--l));
    --text-primary: hsl(0, 0, 0);
    --text-accent: var(--accent);
    --text-light: hsl(0, 0%, 100%);
}