.primary-grid {
    display: grid;
    grid-template-columns: [margin-left-start] 10% [margin-left-end] auto [margin-right-start] 10% [margin-right-end];
    grid-template-rows: 4rem auto 4rem;
    grid-template-areas: 
        "left-margin nav right-margin"
        "left-margin main right-margin"
        "left-margin footer right-margin";
}

.grid-main {
    grid-area: main;
}

nav {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: margin-left-start / margin-right-end;
}

.nav-inner {
    grid-column: margin-left-end / margin-right-start;
}

.nav-seperator {
    grid-column: margin-left-start / margin-right-end;
    grid-row: 1;
}

@media (width <= 500px) {
    .primary-grid {
        grid-template-rows: auto auto 4rem;
    }
}