.af-flex{
    display: flex;
}

.af-flex-column{
    display: flex;
    flex-direction: column;
}

.af-justify-center{
    justify-content: center;
}

.af-justify-space-between {
    justify-content: space-between;
}

.af-align-i-center{
    align-items: center;
}

.af-align-c-center{
    align-content: center;
}